body {
    background-color: burlywood;
}

/* Rules section */
#wrapper {

    width: 100%;
    height: 300px;


}

#rules-h2 {
    width: 50%;
    height: 30%;
    background-color: navy;

    border: 3px solid white;
    margin: auto;
}

#rules-h2 h2 {
    font-size: 90px;
    color: crimson;
    margin: auto;
    text-align: center;
}

#rules-p {
    width: 50%;
    height: 70%;
    background-color: rgb(158, 35, 35);
    border: 3px solid white;
    margin: auto;
}

#rules-p p {
    color: rgb(207, 202, 202);
    font-size: 25px;
}

#title {

    margin: auto;
    width: 30%;
    height: 20%;
    border: 6px solid black;
    background-color: white;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* The main header the user see's when entering the page.*/
#main-header {
    margin: auto;
    font-size: 90px;
    color: crimson;
    text-align: center;


}

/*  The div that holds every other div together (The parent div) and also children div's + reset button that resets the game
 and also the img tag is styled here too. */
#parent-div {
    width: 820px;
    height: 800px;
    background-color: rgb(221, 79, 23);
    margin-bottom: 200px;
    margin: auto;

}

.Game-container {
    width: 200px;
    height: 200px;
    background-color: cornsilk;
    border: burlywood 1px solid;
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
}

.image-container {
    width: 100%;
    height: 100%;
    background-color: cornsilk;
}

#reset-button {
    font-size: 50px;
    margin-left: 260px;
    margin-top: 20px;
    border-radius: 20px;
    color: red;
    background-color: blanchedalmond;
    width: 300px;
    height: 80px;

}

/*  The Sores Header underneat the game and reset button*/
#header-2 {
    margin-top: 150px;
    font-size: 80px;
    text-align: center;
    color: white;
    border-bottom: blanchedalmond 2px solid;
}

/*  The div that brings the scores to the middle */
#middle {
    margin: auto;
    width: 700px;
    height: 100px;

}

/* Scores, The win and loss span tags  */
.scores {
    display: inline;
    font-size: 50px;
    color: rgb(255, 255, 255);

    margin-left: 120px;


}

#win {
    color: rgb(61, 252, 61);
}

#loss {
    color: red;
}

/* Media Querries!! */

@media screen and (max-width: 549px) {
    #main-header {
        margin: auto;
        font-size: 70px;
        color: crimson;
        text-align: center;
        margin-top: 120px;
        margin-left: 150px;
        ;

    }

    #header-2 {
        margin-top: 150px;
        margin-left: 150px;
        position: relative;
        font-size: 60px;
        text-align: center;
        color: white;
        border-bottom: blanchedalmond 2px solid;
    }
}

@media screen and (max-width: 431px) {
    #main-header {

        font-size: 50px;
        color: crimson;
        text-align: center;
        margin-top: 120px;
        margin-left: 200px;
        ;

    }

    #header-2 {
        margin-top: 150px;
        margin-left: 150px;
        font-size: 60px;
        text-align: center;
        color: white;
        border-bottom: blanchedalmond 2px solid;
    }
}

@media screen and (max-width: 399px) {
    #main-header {

        font-size: 40px;
        color: crimson;
        text-align: center;
        margin-top: 120px;
        margin-left: 150px;


    }

    #header-2 {
        margin-top: 150px;
        margin-left: 150px;
        font-size: 60px;
        text-align: center;
        color: white;
        border-bottom: blanchedalmond 2px solid;
    }
}

/* New media Qurries For resubmission */
@media screen and (max-width: 1440px) {

    #title {

        margin: auto;
        width: 30%;
        height: 20%;
        border: 6px solid black;
        background-color: white;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    /* The main header the user see's when entering the page.*/
    #main-header {
        margin: auto;
        font-size: 70px;
        color: crimson;
        text-align: center;


    }
}

@media screen and (max-width: 1024px) {

    #title {

        margin: auto;
        width: 30%;
        height: 20%;
        border: 6px solid black;
        background-color: white;
        margin-bottom: 20px;
        margin-top: 50px;
    }

    /* The main header the user see's when entering the page.*/
    #main-header {
        margin: auto;
        font-size: 50px;
        color: crimson;
        text-align: center;


    }
}

@media screen and (max-width: 768px) {

    #title {

        margin: auto;
        width: 60%;
        height: 40%;
        border: 6px solid black;
        background-color: white;
        margin-bottom: 20px;
        margin-left: 200px;
        margin-top: 50px;
    }

    /* The main header the user see's when entering the page.*/
    #main-header {
        margin: auto;
        font-size: 60px;
        color: crimson;
        text-align: center;


    }

    #rules-h2 {
        width: 60%;
        height: 30%;
        background-color: navy;

        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }

    #rules-p {
        width: 60%;
        height: 70%;
        background-color: rgb(158, 35, 35);
        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }

}

@media screen and (max-width: 426px) {

    #title {

        margin: auto;
        width: 80%;
        height: 40%;
        border: 6px solid black;
        background-color: white;
        margin-bottom: 20px;
        margin-left: 250px;
        margin-top: 50px;
    }

    /* The main header the user see's when entering the page.*/
    #main-header {
        margin: auto;
        font-size: 60px;
        color: crimson;
        text-align: center;


    }

    #rules-h2 {
        width: 100%;
        height: 30%;
        background-color: navy;

        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }

    #rules-p {
        width: 100%;
        height: 70%;
        background-color: rgb(158, 35, 35);
        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }
}

@media screen and (max-width: 376px) {

    #title {

        margin: auto;
        width: 80%;
        height: 40%;
        border: 6px solid black;
        background-color: white;
        margin-bottom: 20px;
        margin-left: 300px;
        margin-top: 50px;
    }

    /* The main header the user see's when entering the page.*/
    #main-header {
        margin: auto;
        font-size: 60px;
        color: crimson;
        text-align: center;



    }

    #rules-h2 {
        width: 100%;
        height: 30%;
        background-color: navy;

        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }

    #rules-p {
        width: 100%;
        height: 80%;
        background-color: rgb(158, 35, 35);
        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }
}

@media screen and (max-width: 321px) {
    #rules-h2 {
        width: 100%;
        height: 30%;
        background-color: navy;

        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }

    #rules-p {
        width: 100%;
        height: 100%;
        background-color: rgb(158, 35, 35);
        border: 3px solid white;
        margin: auto;
        margin-left: 200px;
    }

    #title {

        margin: auto;
        width: 80%;
        height: 40%;
        border: 6px solid black;
        background-color: white;
        margin-bottom: 20px;
        margin-left: 300px;
        margin-top: 150px;
    }
}